

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #121212;
    color: white;
}

#navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #2f3336;
}

.icon {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar-header {
    width: 100%;
    margin-bottom: 16px;
}

#navbar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: white;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

#navbar button > span {
    display: inline-flex;
    align-items: center;
    height: 48px;
    padding-right: 45px;
    padding-left: 12px;
    border-radius: 24px;
    line-height: 1px;
    transition: all 0.4s;
}

#navbar button:hover > span {
    background-color: #8116E0;
    color: white;
}

#navbar button span {
    font-size: 16px;
}

#navbar nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main {
    margin-left: 270px; /* Ajuste a margem esquerda para a largura da sua barra lateral */
    margin-top: 20px; /* Adicione uma margem superior para dar espaço à barra de navegação */
    margin-right: 6px;
    overflow: hidden;
}
.title {
    margin-top: 20px;
}

#karaoke-list .karaoke-item {
    margin-bottom: 20px;
}

#karaoke-list .lyrics {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

#karaoke-list .lyrics p {
    margin: 0;
}

#karaoke-list .lyrics p::before {
    content: "♫ "; /* Adicione um ícone musical antes de cada linha da letra */
    color: #1db954; /* Cor verde usada pelo Spotify */
    margin-right: 5px;
}

#karaoke-list .lyrics p:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Destaque ao passar o mouse sobre a linha da letra */
    border-radius: 5px;
}

.separador {
    margin-top: 20px;
    margin-bottom: 20px;
}



.nav-links {
    color: rgb(255, 255, 255); 
    text-decoration: none;
  }

  #karaoke-video {
    width: 30%;
    height: auto;
}

#search-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 300px; 
}

#search-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-bar button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #8116E0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-bar button:hover {
    background-color: #510b8f;
}

